---
import { getI18n } from "../i18n";

const i18n = getI18n(Astro.currentLocale);
---

<section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24">
  <img src="/favicon.svg" alt="Logo de los Esland" class="w-16 mb-10 m-auto" />

  <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10">
    {i18n.INTRO_TITLE}<br /> {i18n.INTRO_TITLE_AFTER_BR}
  </h1>

  <p set:html={i18n.INTRO_DESCRIPTION_1} />

  <p set:html={i18n.INTRO_DESCRIPTION_2} />

  <p set:html={i18n.INTRO_DESCRIPTION_3} />
</section>
